<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ITR Calculator</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <div id="app" class="container my-4">
        <h1>Information transfer rate calculator</h1>
        <div class="row mt-4">
            <div class="col-4">
                <label for="time">Total classification time in seconds (T)</label>
                <input type="text" v-model="time">
            </div>
            <div class="col-4">
                <label for="time">Number of selectable targets (M)</label>
                <input type="text" v-model="targets">
            </div>
            <div class="col-4">
                <label for="time">Prediction accuracy (P)</label>
                <input type="text" v-model="accuracy">
            </div>
        </div>
        <div class="row my-4">
            <img src="formula.png" class="img-fluid" alt="formula" />
        </div>
        <div class="row">
            <h2>ITR: {{ itr.toFixed(2) }} bits/min</h2>
        </div>
        <div class="row">
            <p>
                This formula was developed by Wolpaw JR et al. in year 2000 in can be read in detail in a review article
                named <i>Brain-computer interface technology: a review of the first international meeting.</i> PubMed
                entry of the article can be found <a href="https://www.ncbi.nlm.nih.gov/pubmed/10896178">here</a>.
            </p>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                time: 1,
                targets: 10,
                accuracy: 0.79
            },
            computed: {
                itr: function () {
                    return (60 / this.time) * (
                        this.accuracy * Math.log2(this.accuracy)
                        + Math.log2(this.targets)
                        + (1 - this.accuracy) * Math.log2((1 - this.accuracy) / (this.targets - 1))
                    )
                }
            }
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>